<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>凤阳县旅游局</title>
<meta name="keywords" content="凤阳县旅游局 " />
<meta name="description" content="凤阳县旅游局 " />
<link href="css/whir_css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
  <div class="top">
    <div class="time">
      <script language=JavaScript>
<!--
var enabled = 0; today = new Date();
var day; var date;
if(today.getDay()==0) day = " 星期日"
if(today.getDay()==1) day = " 星期一"
if(today.getDay()==2) day = " 星期二"
if(today.getDay()==3) day = " 星期三"
if(today.getDay()==4) day = " 星期四"
if(today.getDay()==5) day = " 星期五"
if(today.getDay()==6) day = " 星期六"
document.fgColor = "000000";
date = "今天是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1 ) + "月" + today.getDate() + "日" + day +"";
document.write(date);
// -->
</script>
    </div>
    <div class="weather">
      <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23555555&icon=3&py=fengyang&wind=0&num=1"></iframe>
    </div>
    <div class="tnav"><a href="#">政务网</a>|<a href="#">官方旗舰店</a></div>
  </div>
  <div class="nav">
    <div class="navmenu">
      <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70" /></a></div>
      <ul>
        <li><a href="凤阳概况.html">凤阳概况</a></li>
        <li><a href="资讯信息.html"  class="on">资讯信息</a></li>
        <li><a href="人文凤阳.html">人文凤阳</a></li>
        <li><a href="畅游服务.html">畅游凤阳</a></li>
        <li><a href="玩转凤阳.html">玩转凤阳</a></li>
        <li><a href="主题线路.html">主题线路</a></li>
        <li><a href="旅游攻略.html">旅游攻略</a></li>
        <li><a href="出行服务.html">出行服务</a></li>
        <li><a href="#">视频欣赏</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/nybanner7.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
<div class="position">当前位置：<a href="#">首页</a> > 畅游凤阳</div>
<div class="mainbox">
<div class="title6">
<h1 id="jdt1"><a href="#" class="hover">狼巷迷谷景区</a></h1>
<h1 id="jdt2"><a href="#">小岗村景区</a></h1>
<h1 id="jdt3"><a href="#">明皇陵景区</a></h1>
<h1 id="jdt4"><a href="#">明中都皇城遗址</a></h1>
<h1 id="jdt5"><a href="#">韭山洞景区</a></h1>
<h1 id="jdt6"><a href="#">鼓楼景区</a></h1>
<h1 id="jdt7"><a href="#">龙兴寺</a></h1>
<h1 id="jdt8"><a href="#">卧牛湖</a></h1>
</div>

<ul class="jdpic">
<li class="jd1"><a href="#"><img src="images/jdpic1.jpg" /><span><h2>世界岩溶迷宫——狼巷迷谷</h2><p>狼巷迷谷因旧时有野狼出没而得名，为国家4A级旅游景区，位于凤阳山国家地质公园、韭山国家森林公园和凤阳山风景区内，距离凤阳县城35公里，总面积约9平方公里。风景区包括禅窟寺、禅窟洞和狼巷迷谷三大景区，内有苗寨、塔林、禅窟寺、玉蟹泉、摩崖石刻、贮岚亭、禅窟洞、蟠桃园、天石、瘦人谷、晕头转巷等大小景点40余处。整个风景区是以佛教文化为背景、绿</p></span></a></li>
<li class="jd2"><a href="#"><img src="images/jdpic2.jpg" /><span>风景名称</span></a></li>
<li class="jd3"><a href="#"><img src="images/jdpic3.jpg" /><span>风景名称二</span></a></li>
<li class="jd4"><a href="#"><img src="images/jdpic4.jpg" /><span>风景名称三</span></a></li>
<li class="jd5"><a href="#"><img src="images/jdpic5.jpg" /><span>风景名称四</span></a></li>
<li class="jd6"><a href="#"><img src="images/jdpic6.jpg" /><span>风景名称五</span></a></li>
<li class="jd7"><a href="#"><img src="images/jdpic7.jpg" /><span>风景名称六</span></a></li>
<li class="jd8"><a href="#"><img src="images/jdpic8.jpg" /><span>风景名称七</span></a></li>
</ul>
<div class="more5"><a href="#">查看更多</a></div>
</div>
</div>

<!--底部-->
<div id="footer">
<div class="links">
    <!--下面是向左滚动代码-->
    <div id="colee_left" style="overflow:hidden;width:1200px; padding:0px;">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td id="colee_left1" valign="top"><table cellpadding="2" cellspacing="0" border="0">
              <tr>
                <td class="td1"><a href="#" target="_blank"><img src="images/link1.jpg" width="135" height="42" /></a></td>
                <td class="td1"><a href="#" target="_blank"><img src="images/link2.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link3.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link4.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link5.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link6.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link7.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link8.jpg" width="135" height="42" /></a></td>
              </tr>
            </table></td>
          <td id="colee_left2" valign="top"></td>
        </tr>
      </table>
    </div>
    <script>
//使用div时，请保证colee_left2与colee_left1是在同一行上.
var speed=48//速度数值越大速度越慢
var colee_left2=document.getElementById("colee_left2");
var colee_left1=document.getElementById("colee_left1");
var colee_left=document.getElementById("colee_left");
colee_left2.innerHTML=colee_left1.innerHTML
function Marquee3(){
if(colee_left2.offsetWidth-colee_left.scrollLeft<=0)//offsetWidth 是对象的可见宽度
colee_left.scrollLeft-=colee_left1.offsetWidth//scrollWidth 是对象的实际内容的宽，不包边线宽度
else{
colee_left.scrollLeft++
}
}
var MyMar3=setInterval(Marquee3,speed)
colee_left.onmouseover=function() {clearInterval(MyMar3)}
colee_left.onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}
</script>
    <!--向左滚动代码结束-->
  </div>
  <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
  <div class="copyright">版权所有：凤阳县旅游局 电话：0000-0000000 地址：凤阳县东华路000号 邮编：000000 邮箱：xxxxx@xxx.com<br />
    皖ICP备00000000号 <a href="http://www.mycodes.net/" target="_blank">源码之家</a></div>
</div>
</body>
</html>
