<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>凤阳县旅游局</title>
<meta name="keywords" content="凤阳县旅游局 " />
<meta name="description" content="凤阳县旅游局 " />
<link href="css/whir_css.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="script/jquery.js"></script>
<script type="text/javascript" src="script/superslide.2.1.js"></script>
</head>
<body>
<!--header-->
<div id="header">
  <div class="top">
    <div class="time">
      <script language=JavaScript>
<!--
var enabled = 0; today = new Date();
var day; var date;
if(today.getDay()==0) day = " 星期日"
if(today.getDay()==1) day = " 星期一"
if(today.getDay()==2) day = " 星期二"
if(today.getDay()==3) day = " 星期三"
if(today.getDay()==4) day = " 星期四"
if(today.getDay()==5) day = " 星期五"
if(today.getDay()==6) day = " 星期六"
document.fgColor = "000000";
date = "今天是:" + (today.getFullYear()) + "年" + (today.getMonth() + 1 ) + "月" + today.getDate() + "日" + day +"";
document.write(date);
// -->
</script>
    </div>
    <div class="weather">
      <iframe width="450" scrolling="no" height="18" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&color=%23555555&icon=3&py=fengyang&wind=0&num=1"></iframe>
    </div>
    <div class="tnav"><a href="#">政务网</a>|<a href="#">官方旗舰店</a></div>
  </div>
  <div class="nav">
    <div class="navmenu">
      <div class="logo"><a href="index.html"><img src="images/logo.jpg" width="190" height="70" /></a></div>
      <ul>
        <li><a href="凤阳概况.html">凤阳概况</a></li>
        <li><a href="资讯信息.html"  class="on">资讯信息</a></li>
        <li><a href="人文凤阳.html">人文凤阳</a></li>
        <li><a href="畅游服务.html">畅游凤阳</a></li>
        <li><a href="玩转凤阳.html">玩转凤阳</a></li>
        <li><a href="主题线路.html">主题线路</a></li>
        <li><a href="旅游攻略.html">旅游攻略</a></li>
        <li><a href="出行服务.html">出行服务</a></li>
        <li><a href="#">视频欣赏</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="nybanner" style="background:url(images/nybanner.jpg) center no-repeat;"></div>
<!--中间内容-->
<div id="subbox">
<div class="position">当前位置：<a href="#">首页</a> > 资讯信息</div>
<div class="mainbox">
<div class="titlei"><h1>资讯信息</h1></div>
<div class="menu"><h2><a href="#" class="on">旅游资讯</a></h2><h2><a href="#">通知公告</a></h2></div>

<div class="con_news">
        <dt><img src="images/newpic.jpg" width="222" height="155" /></dt>
        <dd>
          <h1><a href="display.html">滁州凤阳县获中国最具价值文化（遗产）旅游目的地城市称号</a></h1>
          <p>2014中国最具价值文化(遗产)旅游目的地评选结果于12月19日揭晓公布。凤阳县获“中国最具价值文化（遗产）旅游目的地城市”称号。这是该县继2007年摘得“一生要去的66个‘中国史化旅游大县’”称号后获得的又一荣誉。</p>
          <span><a href="" class="morexx"> </a></span></dd>
      </div>

<div class="con_news">
        <dt><img src="images/newpic.jpg" width="222" height="155" /></dt>
        <dd>
          <h1><a href="display.html">滁州凤阳县获中国最具价值文化（遗产）旅游目的地城市称号</a></h1>
          <p>2014中国最具价值文化(遗产)旅游目的地评选结果于12月19日揭晓公布。凤阳县获“中国最具价值文化（遗产）旅游目的地城市”称号。这是该县继2007年摘得“一生要去的66个‘中国史化旅游大县’”称号后获得的又一荣誉。</p>
          <span><a href="" class="morexx"> </a></span></dd>
      </div>
	  
<div class="con_news">
        <dt><img src="images/newpic.jpg" width="222" height="155" /></dt>
        <dd>
          <h1><a href="display.html">滁州凤阳县获中国最具价值文化（遗产）旅游目的地城市称号</a></h1>
          <p>2014中国最具价值文化(遗产)旅游目的地评选结果于12月19日揭晓公布。凤阳县获“中国最具价值文化（遗产）旅游目的地城市”称号。这是该县继2007年摘得“一生要去的66个‘中国史化旅游大县’”称号后获得的又一荣誉。</p>
          <span><a href="" class="morexx"> </a></span></dd>
      </div>

<div class="con_news">
        <dt><img src="images/newpic.jpg" width="222" height="155" /></dt>
        <dd>
          <h1><a href="display.html">滁州凤阳县获中国最具价值文化（遗产）旅游目的地城市称号</a></h1>
          <p>2014中国最具价值文化(遗产)旅游目的地评选结果于12月19日揭晓公布。凤阳县获“中国最具价值文化（遗产）旅游目的地城市”称号。这是该县继2007年摘得“一生要去的66个‘中国史化旅游大县’”称号后获得的又一荣誉。</p>
          <span><a href="" class="morexx"> </a></span></dd>
      </div>

<div class="page"><span class="prev">上一页</span><span class="num"><a href="#" class="on">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a><a href="#">6</a><a href="#">7</a><a href="#">8</a><a href="#">9</a><a href="#">10</a></span><span class="next"><a href="#">下一页</a></span><em>217/5</em>转到
        <input name="textfield" type="text" value="5" class="input"/>
        页
        <input type="submit" name="Submit" value="GO" class="btn"/>
      </div>	  	  

</div>
</div>

<!--底部-->
<div id="footer">
<div class="links">
    <!--下面是向左滚动代码-->
    <div id="colee_left" style="overflow:hidden;width:1200px; padding:0px;">
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td id="colee_left1" valign="top"><table cellpadding="2" cellspacing="0" border="0">
              <tr>
                <td class="td1"><a href="#" target="_blank"><img src="images/link1.jpg" width="135" height="42" /></a></td>
                <td class="td1"><a href="#" target="_blank"><img src="images/link2.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link3.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link4.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link5.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link6.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link7.jpg" width="135" height="42" /></a></td>
				<td class="td1"><a href="#" target="_blank"><img src="images/link8.jpg" width="135" height="42" /></a></td>
              </tr>
            </table></td>
          <td id="colee_left2" valign="top"></td>
        </tr>
      </table>
    </div>
    <script>
//使用div时，请保证colee_left2与colee_left1是在同一行上.
var speed=48//速度数值越大速度越慢
var colee_left2=document.getElementById("colee_left2");
var colee_left1=document.getElementById("colee_left1");
var colee_left=document.getElementById("colee_left");
colee_left2.innerHTML=colee_left1.innerHTML
function Marquee3(){
if(colee_left2.offsetWidth-colee_left.scrollLeft<=0)//offsetWidth 是对象的可见宽度
colee_left.scrollLeft-=colee_left1.offsetWidth//scrollWidth 是对象的实际内容的宽，不包边线宽度
else{
colee_left.scrollLeft++
}
}
var MyMar3=setInterval(Marquee3,speed)
colee_left.onmouseover=function() {clearInterval(MyMar3)}
colee_left.onmouseout=function() {MyMar3=setInterval(Marquee3,speed)}
</script>
    <!--向左滚动代码结束-->
  </div>
  <div class="fnav"><a href="#">关于我们</a>|<a href="#">免责条款</a>|<a href="#">加入收藏</a>|<a href="#">设为首页</a></div>
  <div class="copyright">版权所有：凤阳县旅游局 电话：0000-0000000 地址：凤阳县东华路000号 邮编：000000 邮箱：xxxxx@xxx.com<br />
    皖ICP备00000000号 <a href="http://www.mycodes.net/" target="_blank">源码之家</a></div>
</div>
</body>
</html>
